@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-align: justify;
}

body {
    background: url("https://images.pexels.com/photos/998641/pexels-photo-998641.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    font-size: 1rem;
    color: white;
}

header h1 {
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
}

.nav {
    display: flex;
    justify-content: center;
}

nav {
    text-align: center;
    background-color: #042987;
    width: 10rem;
    padding: 0.6rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
}

nav a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.container {
    max-width: 1100px;
    margin: auto;
    overflow: auto;
    padding: 0.2rem;
}

img {
    width: 100%;
}

.card h3 {
    margin-bottom: 2rem;
}

.card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    background: #0429877b;
    margin-bottom: 2rem;
}

.card > div {
    padding: 2rem;
}

.card:nth-child(even) img {
    order: 2;
}


footer {
    margin-bottom: 10px;
    margin-top: 10%;
    position: relative;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer h4 {
    text-align: center;
    color: white;
}

.footer img {
    width: 200px;
    border-radius: 100%;
}

.footer p {
    max-width: 300px;
    text-align: justify;
    background-color: #042987;
    color: rgba(255, 255, 255, 0.655);
}